<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="borderspe-bottom container-fluid bg-dark text-fontColor">
                <div class="row">
                    <div class="offset-1 col-3 my-auto">
                        <!--mettre un truc-->
                    </div>
                    <div class="col-4 text-center">
                        <a href="https://github.com/Geoffray-buhler">
                            <img class="m-1" src="{{ "./assets/img/social/github.png" | relative_url }}" />
                        </a>
                    </div>
                    <div class="col-3 text-right my-auto">
                        Copyright: 2019-2022
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>