<div id="page02" class="switcherBack">
    <div class="position-fixed m-5">
        <div id="myLifeContainer" class="rounded-pill">
            <div id="myLife" class="rounded-pill">
                Vie : <span id="LifeValue">100%</span>
            </div>
        </div>
        <div id="myStaminaContainer" class="rounded-pill">
            <div id="myStamina" class="rounded-pill">
                Endurance : <span id="LifeValue">100%</span>
            </div>
        </div>
    </div>
    <img class="mapmonde" src="./assets/img/marcel-hampel-grassland-boss.jpg" />
</div>