<div id="page02" class="switcherBack d-none d-xl-flex">
    <div class="container-fluid position-fixed vw-100 vh-100">
        <div class="row">
            <div class="clo-4 m-5">
                <div id="myLifeContainer" class="rounded-pill">
                    <div id="myLife" class="rounded-pill">
                        <span id="lifeValue">100%</span>
                    </div>
                </div>
                <div id="myStaminaContainer" class="mb-1 rounded-pill">
                    <div id="myStamina" class="rounded-pill">
                        <span id="staminaValue">100%</span>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4 m-5 d-flex justify-content-end">
                <div id="myManaContainer" class="rounded-pill">
                    <div id="myMana" class="rounded-pill">
                        <span id="manaValue">100%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="mapmonde" src="./assets/img/map/marcel-hampel-grassland-boss.jpg" />
</div>