$theme-colors: ("primary": #00c2b8, "dark":#023e40, "danger": #b3ff00, "secondary": #9ddbdb, "info": #79ccc7, "background":#00191b, "fontColor":#d8fffd);

body {
    overflow-x: hidden;
    background-color: --dark!important;
}

.bodybg{
    background: rgb(0,18,19);
    background: linear-gradient(90deg, rgba(0,18,19,1) 0%, rgba(2,62,64,1) 50%, rgba(0,18,19,1) 100%);
}

.bg {
    width: 100%;
    height: 100%;
    background-image: url();
}

.img {
    &-card {
        height: 303px !important;
    }

    &-nav {
        width: 80px;
        height: 80px;
    }
}

.borderspe {
    border: 5px groove #1CAEC7;
    border-radius: 15px 15px 15px 15px;
}

.borderspe-spacer{
    margin-bottom: 2rem;
    border-bottom: 2px groove #1CAEC7;
}

.borderspe-top{
    border: 5px groove #1CAEC7;
    border-radius: 0px 0px 15px 15px ;
}

.borderspe-bottom{
    border: 5px groove #1CAEC7;
    border-radius: 15px 15px 0px 0px;
}

.nav {

    &-link {
        color: --fontbtn;
    }
}

.rounded {
    &-right {
        border-top-right-radius: 25px !important;
        border-bottom-right-radius: 25px !important;
    }

    &-bottom {
        border-bottom-right-radius: 1rem !important;
        border-bottom-left-radius: 1rem !important;
    }
}

.border {
    &-top {
        border-top: 3px solid --border !important;
    }
}

.card {
    &-container {
        justify-content: center;
        text-align: center;
        display: block !important;
    }
}

.attachment {
    &-full {
        z-index: 1;
        position: absolute !important;
    }
}

canvas {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.canvas {
    width: 100%;
    height: 100%;
}

#myLifeContainer {
    width: 20vw;
    height: 30px;
    background-color: #808080;
}

#myLife {
    width: 100%;
    height: 30px;
    background-color: #ff0000;
    text-align: center;
    /* To center it horizontally (if you want) */
    line-height: 30px;
    /* To center it vertically */
    color: white;
}

#myStaminaContainer {
    margin-top: 5px;
    width: 20vw;
    height: 10px;
    background-color: #808080;
}

#myStamina {
    width: 100%;
    height: 10px;
    background-color: #16fb62;
    text-align: center;
    /* To center it horizontally (if you want) */
    line-height: 30px;
    /* To center it vertically */
    color: white;
}

#myManaContainer {
    width: 20vw;
    height: 20px;
    background-color: #808080;
}

#myMana {
    width: 100%;
    height: 20px;
    background-color: #0034ff;
    text-align: center;
    /* To center it horizontally (if you want) */
    line-height: 30px;
    /* To center it vertically */
    color: white;
}

header {
    font-family: Air stream;
    position: relative;
    background-color: --background;
    height: 30vh;
    min-height: 25rem;
    width: 100%;
    text-shadow: 0px 0px 20px rgba(120,243,255,0.05), 0px 0px 20px rgba(120,243,255,0.43), 0px 0px 20px #78F3FF, 0px 0px 20px #78F3FF, 0px 0px 20px #78F3FF;
    overflow: hidden;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 10%;
        width: auto;
        height: auto;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .container {
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: --background;
        opacity: 0.2;
    }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#page02 {
    .mapmonde {
        height: 100vh;
        width: 100vw;
    }
}

.switcher {
    opacity: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition-property: opacity;
    transition-duration: 2s;
}

.switcherBack {
    opacity: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition-property: opacity;
    transition-duration: 2s;
    position: absolute;
    pointer-events: none;
    overflow: hidden;
}

#gameOver {
    width: 100vw;
    height: 100vh;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: --background no-repeat center center scroll;

        video {
            display: none;
        }
    }
}

@media screen and (min-width: 1900px) {
    canvas {
        display: block;
    }
}