---
layout: gameprinc
fichier:
---

<div class="container">
    {% include row_center.html %}
        <div class="col-10 borderspe-spacer text-center justify-content-center">
            <img src="#" alt="Capture d'ecrant du jeu Rush Mania !">
        </div>
        <div class="col-10 offset-1 borderspe-spacer m-4">
            <h1 class="text-center">Présentation du projet</h1>
            <h2 class="text-center">Rush Mania</h2>
            <p class="text-center">Est un Projet de jeu vidéo en mode Boss Rush</p>
            <p class="text-center">les 3 premieres heures j'ai cree le 1er boss ainsi que le point de spawn et quelque effet de lumieres !</p>
            <p class="text-center">Venez voir le devellopement de ce jeu sur ma chaine twitch <a href="https://www.twitch.tv/griffont39">Ici</a></p>
            <!--{% include lien.html %}-->
        </div>
    </div>
</div>