    {% include head.html %}
    <body>
        <div class="bodybg">
            {% include canvas.html %}
            {% include header.html %}
            {% include navbar.html %}
            <div class="container">
                <div class="row">
                    <div class="col-12 borderspe mt-5 mb-5 bg-primary">
                        {{ content }}
                    </div>
                </div>
            </div>
            {% include footer.html %}
            {% include java.html %}
        </div>
    </body>
    </html>