---
layout : default
---
<h2 class="text-center border-bottom p-3">Projet Principal</h2>
<div class="container">
    <div class="row"></div>
    {% for files in site.articles %}
    <div class="col-12 offset-md-3 col-md-6 p-2">
        <div class="card zoom shadow">
            <img src={{ "./assets/img/" | append: files.title | append: ".png" | relative_url }} alt="image"
                 class="m-2 img-fluid ">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ files.url | relative_url }}">{{ files.title | escape }}</a>
                </h5>
                <p class="card-text">
                    Petite previsualisation de <span class="text-primary">{{ files.title | escape }}</span>.
                </p>
            </div>
        </div>
    </div>
    {%- endfor -%}
</div>
<h2 class="text-center p-3 border-bottom">Mes projets fait en stream</h2>
<div class="container">
    <div class="row">
        {% for files in site.game %}
        <div class="col-12 col-md-6 p-2 inline text-center">
            <div class="card zoom shadow">
                <img src={{ "./assets/img/" | append: files.title | append: ".png" | relative_url }} alt="image"
                     class="m-2 img-card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ files.url | relative_url }}">{{ files.title | escape }}</a>
                    </h5>
                    <p class="card-text">
                        Vous pouvez telecharger ce jeu gratuitement ! Bon jeu
                    </p>
                </div>
            </div>
        </div>
        {%- endfor -%}
    </div>
</div>