---
layout: game
fichier: https://mega.nz/#!Q5FgjKoY!WNMzDcou2izmqJjjNv61e8CzrX80-xGTqNHPDXglpc0
---

<div class="container">
    {% include row_center.html %}
        <div class="col-10 text-center borderspe-spacer justify-content-center">
            <img src="#" alt="Capture d'ecrant du jeu All Right Bro !">
        </div>
        <div class="col-10 offset-1 borderspe-spacer m-4">
            <h2 class="text-center">
                All Right Bro !!!
            </h2>
            <p class="text-center">Theme : <strong>CowBoy</strong></p>
            <p class="text-center">Est un petit jeu de platform / shooter developpé en 2 heures</p>
            <p class="text-center">il est pas du tout terminée et le gameplays est asser basic il me faudrais encore un
                peut de temp pour pouvoir calibrer le tire des chapeaux ainsi que l'IA des bots</p>
                {% include lien.html %}
        </div>
    </div>
</div>