---
layout: game
fichier: https://mega.nz/#!ZpsAgarL!nRZu_mNuuf1ZdhNFiPxLMdrPIl-s3O1_AK8T9CH7g5o
---

    <div class="container">
        {% include row_center.html %}
        <div class="col-10 text-center borderspe-spacer justify-content-center">
            <img src="#" alt="Capture d'ecrant du jeu All Right Bro !">
        </div>
        <div class="col-10 offset-1 borderspe-spacer m-4">
            <h2 class="text-center">
                Dark Is Dead !!!
            </h2>
            <p class="text-center">Theme : <strong>La Norage en folie</strong></p>
            <p class="text-center">Est un petit jeu de shoot developpé en 2 heures</p>
            <p class="text-center">
                il est pas du tout terminée mais j'ai reussi a crée un peronnage qui se dirige avec
                la souris et qui gene la hauteur des tire du personnage
            </p>
            <p class="text-center">Peur etre un futur COD ^^</p>
            {% include lien.html %}
        </div>
    </div>
</div>
