---
layout: game
fichier: https://mega.nz/#!JxtWFQCT!uegUNPMt9hiujxjU7FOElp7tpt47-wZY7WWzbIQK-BE
---

    <div class="container">
        {% include row_center.html %}
        <div class="col-10 text-center borderspe-spacer justify-content-center">
            <img src="#" alt="Capture d'ecrant du jeu All Right Bro !">
        </div>
        <div class="col-10 offset-1 borderspe-spacer m-4">
            <h2 class="text-center">
                All Right Bro !!!
            </h2>
            <p class="text-center">Theme : <strong>Fantaisie</strong></p>
            <p class="text-center">Est un petit jeu de platform / voiture developpé en 2 heures</p>
            <p class="text-center">le but de se jeu est de ramasser toute les fleurs bleu en un temp limité </p>
            {% include lien.html %}
        </div>
    </div>
</div>
